
<div class="row">
  <div class="col-md-2">
    <p>Latest public pastes:</p>
    <ul class="pastes">
      <li ng-repeat="p in pastes">
	<a href="#/pastes/{{p.id}}">{{p.title}}</a>
      </li>
    </ul>
  </div>
  <div class="col-md-8">
    <form id="pasteForm">
      <label for="pasteArea">New paste:</label>
      <textarea msd-elastic rows="10" class="form-control" form="pasteForm" required="true" id="pasteArea" ng-model="paste.content"></textarea>
      <div class="row">
	<div class="col-md-6">
	  <div class="form-group-sm">
	    <label for="title">Title</label>
	    <input type="text" class="form-control" id="title" placeholder="Untitled" ng-model="paste.title">
	  </div>
	  <div class="form-group-sm">
	    <label for="visibility">Visibility</label>
	    <select id="visibility" class="form-control" ng-model="paste.visibility">
	      <option value="public">Public</option>
	      <option value="unlisted">Unlisted</option>
	    </select>
	  </div>
	</div>
	<div class="col-md-6">
	  <div class="form-group-sm">
	    <label for="syntax">Syntax</label>
	    <select id="syntax" class="form-control" ng-model="paste.syntax" ng-options="i.value as i.name for i in languages"></select>
	  </div>
	  <div class="form-group-sm">
	    <label for="expires">Expiration</label>
	    <select id="expires" class="form-control" ng-model="paste.expires" ng-options="i.value as i.name for i in times"></select>
	  </div>
	</div>
      </div>
      <button type="submit" class="btn btn-lg btn-default" ng-click="send(paste)">Submit</button>
    </form>
  </div>

